@font-face {
  font-family: G-Roboto-n7;
  font-display: swap;
  src: url('../data/fonts/roboto_v20_KFOlCnqEu92Fr1MmWUlvAx05IsDqlA.ttf');
}
@font-face {
  font-family: G-Roboto-n4;
  font-display: swap;
  src: url('../data/fonts/roboto_v20_KFOmCnqEu92Fr1Me5WZLCzYlKw.ttf');
}
@font-face {
  font-family: "G-DM Sans-n4";
  font-display: swap;
  src: url('../data/fonts/dmsans_v6_rP2Hp2ywxg089UriOZSCHBeHFl0.ttf');
}
@font-face {
  font-family: "G-DM Sans-n5";
  font-display: swap;
  src: url('../data/fonts/dmsans_v6_rP2Cp2ywxg089UriAWCrOB-sClQX6Cg.ttf');
}
@font-face {
  font-family: G-Roboto-n9;
  font-display: swap;
  src: url('../data/fonts/roboto_v20_KFOlCnqEu92Fr1MmYUtvAx05IsDqlA.ttf');
}